<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/about.css">
    <link rel="icon" href="static/gartium-high-resolution-logo-black-transparent.png" type="image/x-icon">
    <title>About Page</title>
</head>
<body>
    <header class="about_header">
        <img src="static/gartium-high-resolution-logo-black-transparent.png" id="logo" onclick="redirectBack()">
    </header>
    <div id="about-info">
        <h1>About</h1>
        <h2>Welcome to Gartium!</h2>
        <p>Gartium is an innovative platform dedicated to artists from all walks of life who are passionate about sharing their art with the world. Whether you are a painter, sculptor, digital artist, or photographer, Gartium provides a creative space where your art can shine and reach a global audience.</p>

        <h2>The point</h2>
        <p>At Gartium, our mission is to empower artists by providing them with a platform they need to share their work, connect with other creatives, and grow their artistic careers. We believe that art has the power to inspire, transform, and bring people together, and we are committed to fostering a vibrant and inclusive community for artists everywhere.</p>

        <h2>What We Offer</h2>
        <ul>
            <li><strong>Showcase Your Work:</strong> Create stunning pieces display your art. Our user-friendly platform makes it easy to upload your work and share it with the world.</li>
            <li><strong>Connect with Other Artists:</strong> Join a thriving community of artists who share your passion.</li>
            <li><strong>Reach a Global Audience:</strong> Gartium helps you expand your reach beyond geographical boundaries. Share your art with people from different cultures and backgrounds.</li>
            <li><strong>Get Discovered:</strong> Our platform features advanced search and discovery tools that help art enthusiasts and potential buyers find your work.</li>
        </ul>

        <h2>Our Community</h2>
        <p>Gartium is more than just a platform—it's a community of like-minded individuals who believe in the transformative power of art. We encourage artists to express their unique perspectives. Our supportive environment ensures that every artist, regardless of their experience level, feels valued and inspired.</p>

        <h2>Join Us</h2>
        <p>Whether you are a seasoned artist or just starting your artistic journey, Gartium is the perfect place to grow, share, and connect. Join us today and become part of a community that celebrates creativity and artistic expression.</p>

        <h2>Creators</h2>
        <h3>Liam Bowers</h3>
        <ul>
            <li><a href="https://www.linkedin.com/in/liam-bowers718/">LinkedIn</a></li>
            <li><a href="https://github.com/Midigan195/">GitHub</a></li>
        </ul>

        <h3>Garnet Matola</h3>
        <ul>
            <li><a href="https://www.linkedin.com/in/garnetmatola/">LinkedIn</a></li>
            <li><a href="https://github.com/CallmeJimmy18">GitHub</a></li>
        </ul>
    </div>
    <script>
        function redirectBack() {
            window.history.back();
        }
    </script>
</body>
</html>
