<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/gartium-high-resolution-logo-black-transparent.png" type="image/x-icon">
    <link rel="stylesheet" href="static/tempstyles.css">
    <title>SignUp page</title>
</head>
<body>
    <header class="session_header">
        <img src="static/gartium-high-resolution-logo-black-transparent.png" id="logo">
    </header>
    <div class="reg_block">
        <h1>Join the space</h1>
        <form action="{{ url_for('do_signup') }}" method="post" id="loginForm">
            <input type="text" id="emailInput" placeholder="Email Address" name="email">
            <input type="text" id="usernameInput" placeholder="Username" name="username">
            <input type="password" id="passwordverifyInput" placeholder="Verify Password" name="password">
            {% if error %}
                <p style="color: red;" id="message">{{ error }}</p>
            {% endif %}
            <button type="submit" value="Signup" id="loginButton">Create Account</button>
        </form>
        <p>Have an account? <a href="{{ url_for('do_login') }}">Log in</a></p>

        <a id="aboutlink" href="{{ url_for('about') }}">About Us</a>
    </div>
</body>
</html>
