<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Upload</title>
  <link rel="icon" href="static/gartium-high-resolution-logo-black-transparent.png" type="image/x-icon">
  <link rel="stylesheet" href="static/upload.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  <header id="upload_header">
    <button id="back-button" class="icon-button" onclick="redirectToHome()"><i class="fa fa-arrow-left"></i></button>
    <div id="submitblock">
      <button type="button" id="CancelButton">Cancel</button>
      <button id="uploadButton" onclick="upload()">Upload</button>
    </div>
  </header>
  <div id="upload_block">
    <h1 id="upload_heading">What you been Cooking?</h1>
    <div id="upload-area">
      <label for="fileInput" id="fileLabel">Select files</label>
      <input type="file" id="fileInput" accept=".png, .jpeg, .jpg"/>
      <img id="imagePreview" src="" alt="Image Preview" style="display: none; margin-top: 10px; width: 250px; height: auto; border-radius: 5px;"/>
    </div>
    <form id="uploadForm">
      <label for="title">Add title</label>
      <input type="text" name="title" id="title" minlength="1" maxlength="30" required><br>
      <label for="tags">Add Tags</label>
      <input type="text" name="tags" id="tags" maxlength="250"><br>
      <label for="description">Create Description:</label><br>
      <textarea name="description" id="description" maxlength="255"></textarea><br>
    </form>
    <div id="uploadResult"></div>
  </div>

  <script src="static/load_overlay.js"></script>

  <script>
    document.getElementById('fileInput').addEventListener('change', function(event) {
      const file = event.target.files[0];
      const validTypes = ['image/png', 'image/jpeg'];
      const imagePreview = document.getElementById('imagePreview');

      if (!file) {
        imagePreview.style.display = 'none';
        imagePreview.src = "";
        return;
      }

      if (!validTypes.includes(file.type)) {
        alert('Only PNG and JPEG files are allowed.');
        imagePreview.style.display = 'none';
        imagePreview.src = "";
        return;
      }

      const reader = new FileReader();
      reader.onload = function(e) {
        imagePreview.src = e.target.result;
        imagePreview.style.display = 'block';
      }
      reader.readAsDataURL(file);
    });

    document.getElementById('CancelButton').addEventListener('click', function() {
      // Reset form fields and file input
      document.getElementById('uploadForm').reset();
      document.getElementById('fileInput').value = "";
      document.getElementById('uploadResult').innerHTML = "";
      document.getElementById('imagePreview').style.display = 'none';
      document.getElementById('imagePreview').src = "";
    });

    function upload() {
      const fileInput = document.getElementById('fileInput');
      const files = fileInput.files;
      const title = document.getElementById('title').value;
      const tags = document.getElementById('tags').value;
      const description = document.getElementById('description').value;
      const userId = '{{ user_id }}';
      console.log(userId);

      if (files.length === 0) {
        alert('Please select a file.');
        return;
      }

      const file = files[0];
      const validTypes = ['image/png', 'image/jpeg'];
      if (!validTypes.includes(file.type)) {
        alert('Only PNG and JPEG files are allowed.');
        return;
      }

      if (file.size > 10 * 1024 * 1024) {
        alert('File size must be under 10MB.');
        return;
      }

      if (title.length < 1 || title.length > 30) {
        alert('Title must be between 1 and 30 characters.');
        return;
      }

      if (description.length > 255) {
        alert('Description must be 255 characters or less.');
        return;
      }

      const tagsArray = tags.split(',').map(tag => `#${tag.trim()}`).filter(tag => tag.length > 1);
      const tagsString = tagsArray.join(' ');

      const formData = new FormData();
      formData.append('file', file);
      formData.append('title', title);
      formData.append('description', description);
      formData.append('user_id', userId);
      formData.append('tags', tagsString);

      createOverlay('Uploading...')
      fetch('https://mirigan.pythonanywhere.com/upload', {
        method: 'POST',
        body: formData
      })
      .then(response => {
        if (response.ok) {
          document.getElementById('uploadResult').innerText = 'Upload successful!';
          destroyOverlay('Upload successful!');
          response.json().then(data => {
            console.log(data); // Handle the JSON data here
            window.location.href = `/post?post_id=${data.post_id}`;
          }).catch(error => {
            console.error('Error parsing JSON:', error);
          });
        } else {
          document.getElementById('uploadResult').innerText = 'Upload failed!';
          destroyOverlay('Upload failed!');
        }
      })
      .catch(error => {
        document.getElementById('uploadResult').innerText = 'Error: ' + error.message;
      });

      document.getElementById('uploadForm').reset();
      document.getElementById('fileInput').value = "";
      document.getElementById('uploadResult').innerHTML = "";
      document.getElementById('imagePreview').style.display = 'none';
      document.getElementById('imagePreview').src = "";
    }

    function redirectToHome() {
            window.location.href = '/home';
    }
  </script>
</body>
</html>

